<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Partida</title>
  </head>
  <body>
    <h2>Detalhes da partida</h2>
	
	<p> <b>Data: </b> <%=partida.data%></p>
	<p> <b>Jogador 1: </b> <%=partida.player01%></p>
	<p> <b>Jogador 2: </b> <%=partida.player02%></p>
	<p> <b>Vencedor: </b> <%=partida.vencedor%></p>
	
	<p><a href="/partida"> <button>Voltar</button> </a></p>
	
  </body>
</html>
