<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trabalho 2 - Lab de Programação VI</title>
  </head>
  <body>
	<center>
    <h1>Menu principal - Trabalho 2</h1>
	
	<p><a href='/jogador'> <button> Jogadores </button></a></p>
	<p><a href='/partida'> <button> Partidas </button></a></p>
	</center>

  </body>
</html>
