<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Trabalho 2 - Lab de Programação VI</title>
  </head>
  <body>
	<center>
    <h1>Menu principal - Trabalho 2</h1>
	
	<p><a href='/jogador'> <button class="btn btn-default"> Jogadores </button></a></p>
	<p><a href='/partida'> <button class="btn btn-default"> Partidas </button></a></p>
	</center>

  </body>
</html>
