<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trabalho 2 - Lab de Programação VI</title>
  </head>
  <body>
    <h1>Menu principal</h1>
	<a href='/registroJogador'> Registro de jogadores </a>

  </body>
</html>
