<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lista de partidas</title>
  </head>
  <body>
    <h2>Lista de partidas</h2>
	
	<table border-spacing="10px">
      <tr>
        <th>Data</th>
		<th>Jogador 1</th>
		<th>Jogador 2</th>
      </tr>
      <%
      for(var i=0; i<partidas.length; i++){
        var partida = partidas[i];
      %>
      <tr>
        <td><%=partida.data%></td>
		<td><%=partida.player01%></td>
		<td><%=partida.player02%></td>
		<td><a href="/partida/<%=partida._id%>"> <button>Detalhes</button> </a> </td>
      </tr>
      <%
      }
      %>
    </table>
	
	<p><a href="/registroPartida"> <button>Registrar partida</button> </a></p>
	<p><a href="/"> <button>Voltar</button> </a></p>
	
  </body>
</html>
