<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Lista de jogadores</title>
  </head>
  <body>
  <div class="container">
    <h2>Lista de jogador</h2>
	
	<table class="table table-striped">
      <tr>
        <th>Apelido</th>
		<th>ELO Rating</th>
      </tr>
      <%
      for(var i=0; i<jogadores.length; i++){
        var jogador = jogadores[i];
      %>
      <tr>
        <td><%=jogador.apelido%></td>
		<td><%=jogador.ELO%></td>
		<td><a href="/jogador/<%=jogador.apelido%>"> <button class="btn btn-default">Detalhes</button> </a> </td>
      </tr>
      <%
      }
      %>
    </table>
	
	<p><a href="/registroJogador"> <button class="btn btn-default">Registrar jogador</button> </a></p>
	<p><a href="/"> <button class="btn btn-default">Voltar</button> </a></p>
	</div>
  </body>
</html>
