<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Lista de partidas</title>
  </head>
  <body>
  <div class="container">
    <h2>Lista de partidas</h2>
	
	<table class="table table-striped">
      <tr>
        <th>Data</th>
		<th>Jogador 1</th>
		<th>Jogador 2</th>
		<th>Finalizada?</th>
      </tr>
      <%
      for(var i=0; i<partidas.length; i++){
        var partida = partidas[i];
      %>
      <tr>
        <td><%=partida.data%></td>
		<td><%=partida.player01%></td>
		<td><%=partida.player02%></td>
		<td><%if(partida.vencedor != "") {
		%> Sim <% 
		} else {
		%> Nao <% 
		} %> </td>
		<td><a href="/partida/<%=partida._id%>"> <button class="btn btn-default">Detalhes</button> </a> </td>
      </tr>
      <%
      }
      %>
    </table>
	
	<p><a href="/registroPartida"> <button class="btn btn-default">Registrar partida</button> </a></p>
	<p><a href="/"> <button class="btn btn-default">Voltar</button> </a></p>
	</div>
  </body>
</html>
