<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registro de partidas</title>
  </head>
  <body>
    <h2>Registro de partidas</h2>
	<form method="POST" action="/partida">
	<p> Data: <input name="data" type="Date"/>  </p>
	<p> Jogador 1: <input name="player01" type="text"/>  </p>
	<p> Jogador 2: <input name="player02" type="text"/>  </p>
	<p> <input type="submit" value="Registrar"/> </p>
	</form>
	
	<p><a href="/partida"> <button>Voltar</button> </a></p>
  </body>
</html>
