<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><Registro de jogador></title>
  </head>
  <body>
    <h2>Registro de jogador</h2>
	<form method="POST" action="/jogador">
	<p> Nome: <input name="nome" type="text"/>  </p>
	<p> Apelido: <input name="apelido" type="text"/>  </p>
	<p> Email: <input name="email" type="text"/>  </p>
	<p> <input type="submit" value="Registrar"/> </p>
	</form>
  </body>
</html>
